* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d2f1d6;
  font-family: "segoi ui", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #333;
  color: white;
  position: relative;
  z-index: 10;
}

.navbar-header {
  display: inline-block;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  display: flex;
  list-style: none;
  gap: 20px;
  display: inline-block;
  margin-left: 15px;
  transition: transform 0.3s ease-in-out;
  display: block;
}

.nav-link li {
  position: relative;
}

.nav-link li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s ease;
}

.nav-link li:hover {
  background-color: #555;
  border-radius: 4px;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 10px 0;
  min-width: 180px;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translate(20px);
  transition: all 0.3s ease;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.services:hover .dropdown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(20px);
}
